<html>
  <head>
    <style>
     body {
      color: yellow;
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Hello, {{core.username|default:'Guest' }}</h1>

    <p> Welcome to the Our site</p>
    <div>
      {%if core.is_authenticated %}
         <a href="{%url 'logout' %}">
         <button>Logout</button>
       </a>

      {% else %}
         <a href="{%url 'signup' %}">
          <button>Sign Up</button>
         </a>
         <a href="{% url 'login'%}">
         <button>LogIn</button>
         </a>
      {% endif %}
    </div>
  </body>
</html>