<html>
<head>
  <style>
   body {
    color: grey;
    text-align: center;
    }
  </style>
</head>
  {% block title %}Home{% endblock %}
  <body>
    <h1>Hello, {{user.username}}!</h1>
    {%if user.is_authenticated %}
    <div>
       <a href="{% url 'login' %}">
         <button>Create Post</button>
       </a>
      
         <a href="{% url 'logout' %}">
         <button>Logout</button>
       </a>
      
    </div>

      {% else %}
         <p> Please LogIn or SingUp First </p>
         <a href="{% url 'core:signup' %}">
          <button>Sign Up</button>
         </a><br>
         <br><a href="{% url 'login' %}">
         <button>LogIn</button>

         </a>
      {% endif %}
    </div>
  </body>
</html>