{% extends 'core/base.html' %}
<html>
<head>
  <style>
   body {
    color: grey;
    text-align: center;
    }
  </style>
</head>
  {% block title %}Home{% endblock %}
  <body>
    {% if user.is_authenticated %}
    <h1>Hello, {{user.username}}!</h1>
    <div>
       <a href="{% url 'image' %}">
         <button>Create Post</button>
       </a>
      
         <a href="{% url 'logout' %}">
         <button>Logout</button>
       </a>
      
    </div>

    {% else %}
       <p> Please LogIn or SingUp First </p>
       <a href="{% url 'core:signup' %}">
        <button>Sign Up</button>
       </a><br>
       <br><a href="{% url 'core:login' %}">
       <button>LogIn</button></a>
      {% endif %}
    </div>
  </body>
</html>